In [9]:
import lightgbm as lgb
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

#####################Import the packages 
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv
from sklearn import preprocessing, cross_validation, svm

In [3]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [4]:
train.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

NameError: name 'Dataset' is not defined

In [30]:
test.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,659,2,12,3000,52
1,276,21,7,1750,38
2,263,4,1,250,4
3,303,11,11,2750,38
4,83,4,12,3000,34

In [42]:
X = train.iloc[-5]

In [49]:
X = train[['Unnamed: 0',
'Months since Last Donation',
'Number of Donations',
'Total Volume Donated (c.c.)',
'Months since First Donation']]

In [50]:
Y = train['Made Donation in March 2007']

In [51]:
X.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,619,2,50,12500,98
1,664,0,13,3250,28
2,441,1,16,4000,35
3,160,2,20,5000,45
4,358,1,24,6000,77

In [52]:
seed = 1234
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, Y, test_size=0.3)

In [54]:
gbm = lgb.LGBMRegressor(objective='binary',
                        num_leaves=31,
                        learning_rate=0.02,
                        n_estimators=100)

In [36]:
y_train.head()

     Made Donation in March 2007
417                            1
456                            0
505                            0
240                            0
449                            0

In [56]:
a = gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l1')

[1]	valid_0's l1: 0.49643
[2]	valid_0's l1: 0.492933
[3]	valid_0's l1: 0.489506
[4]	valid_0's l1: 0.486149
[5]	valid_0's l1: 0.482859
[6]	valid_0's l1: 0.479636
[7]	valid_0's l1: 0.476315
[8]	valid_0's l1: 0.473224
[9]	valid_0's l1: 0.469996
[10]	valid_0's l1: 0.466968
[11]	valid_0's l1: 0.463907
[12]	valid_0's l1: 0.46111
[13]	valid_0's l1: 0.458171
[14]	valid_0's l1: 0.455489
[15]	valid_0's l1: 0.452679
[16]	valid_0's l1: 0.45013
[17]	valid_0's l1: 0.447535
[18]	valid_0's l1: 0.444878
[19]	valid_0's l1: 0.442462
[20]	valid_0's l1: 0.439707
[21]	valid_0's l1: 0.437417
[22]	valid_0's l1: 0.434772
[23]	valid_0's l1: 0.432578
[24]	valid_0's l1: 0.430453
[25]	valid_0's l1: 0.428091
[26]	valid_0's l1: 0.42587
[27]	valid_0's l1: 0.423626
[28]	valid_0's l1: 0.421479
[29]	valid_0's l1: 0.419274
[30]	valid_0's l1: 0.417404
[31]	valid_0's l1: 0.415433
[32]	valid_0's l1: 0.413489
[33]	valid_0's l1: 0.411869
[34]	valid_0's l1: 0.41001
[35]	valid_0's l1: 0.408263
[36]	valid_0's l1: 0.406465
[37]	valid_0's l1: 0.405017
[38]	valid_0's l1: 0.403121
[39]	valid_0's l1: 0.401674
[40]	valid_0's l1: 0.39991
[41]	valid_0's l1: 0.398393
[42]	valid_0's l1: 0.396629
[43]	valid_0's l1: 0.395429
[44]	valid_0's l1: 0.393895
[45]	valid_0's l1: 0.392471
[46]	valid_0's l1: 0.391006
[47]	valid_0's l1: 0.389635
[48]	valid_0's l1: 0.388217
[49]	valid_0's l1: 0.387016
[50]	valid_0's l1: 0.385647
[51]	valid_0's l1: 0.38443
[52]	valid_0's l1: 0.383115
[53]	valid_0's l1: 0.381988
[54]	valid_0's l1: 0.380592
[55]	valid_0's l1: 0.37928
[56]	valid_0's l1: 0.378008
[57]	valid_0's l1: 0.376899
[58]	valid_0's l1: 0.375596
[59]	valid_0's l1: 0.374344
[60]	valid_0's l1: 0.373163
[61]	valid_0's l1: 0.371822
[62]	valid_0's l1: 0.370691
[63]	valid_0's l1: 0.369576
[64]	valid_0's l1: 0.36867
[65]	valid_0's l1: 0.367486
[66]	valid_0's l1: 0.366355
[67]	valid_0's l1: 0.365382
[68]	valid_0's l1: 0.364218
[69]	valid_0's l1: 0.363301
[70]	valid_0's l1: 0.362247
[71]	valid_0's l1: 0.361289
[72]	valid_0's l1: 0.360351
[73]	valid_0's l1: 0.359199
[74]	valid_0's l1: 0.358293
[75]	valid_0's l1: 0.357209
[76]	valid_0's l1: 0.356236
[77]	valid_0's l1: 0.355339
[78]	valid_0's l1: 0.354452
[79]	valid_0's l1: 0.353556
[80]	valid_0's l1: 0.35253
[81]	valid_0's l1: 0.351735
[82]	valid_0's l1: 0.35084
[83]	valid_0's l1: 0.349893
[84]	valid_0's l1: 0.348981
[85]	valid_0's l1: 0.348109
[86]	valid_0's l1: 0.347228
[87]	valid_0's l1: 0.346408
[88]	valid_0's l1: 0.345542
[89]	valid_0's l1: 0.344752
[90]	valid_0's l1: 0.343784
[91]	valid_0's l1: 0.34299
[92]	valid_0's l1: 0.342055
[93]	valid_0's l1: 0.34123
[94]	valid_0's l1: 0.340506
[95]	valid_0's l1: 0.339713
[96]	valid_0's l1: 0.339062
[97]	valid_0's l1: 0.338329
[98]	valid_0's l1: 0.337484
[99]	valid_0's l1: 0.336745
[100]	valid_0's l1: 0.336003

In [60]:
y_pred = gbm.predict(a,test, num_iteration=a.best_iteration_)

TypeError: float() argument must be a string or a number, not 'LGBMRegressor'